<% if current_user %>

<div>
	<h1>Write a Yip</h1>
	<p>
		<%= form_for @yip do |f| %>
			<%= f.text_area :content, class: 'yipText' %>
			<%= f.submit "Yip!" %>
		<% end %>
	</p>
	
</div>

<div>
	<h1><%= @user.username %> Yipper Profile</h1>
	<div>
	<span>Username: <%= @user.username %></span>
	<p>
		<%= @user.yips.count%> Yips
		<span>XX Followers</span>
		<span>XX Following</span>
	</p>
		
	</div>
	
</div>

<div>
	<h1>Your Yips</h1>
		<% @user.yips.each do |yip| %>
	<div>
		<span><%= time_ago_in_words(yip.created_at) %></span>
		<p> <%= yip.content %></p>
	</div>
	<% end %>
</div>

<%end %>