<!DOCTYPE html>
<html>
  <head>
    <title>Yipper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
	 <header>
	        <div class="wrapper">
	           
	            <span>Yipper</span>
	            <% if current_user %>
	            	
	            	<%= link_to "Public Yips", yips_path %>
	            	<%= link_to "Public Profiles", users_path %>
	            	<%= link_to "Pups's Yips", pups_path %>
	            	<%= link_to "My Profile", current_user %>
	            	<%= link_to "Log Out", sessions_destroy_path %>
	            <%else %>
	            	<%= form_tag sessions_create_path do %>
	            		<%= text_field_tag :username, nil, placeholder: "username" %>
	            		<%= password_field_tag :password, nil, placeholder: "password" %>
	            		<%= submit_tag "Log In" %>
	            		<% end %>
	            <% end %>
	        </div>
	    </header>

	            <%= image_tag("fox_profile.png", id:"fox-profile") %>
	  <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    
     
    </div>
	           
	 

  </body>
</html>
